[Unit]
Description=Google Home Service
After=network.target

[Service]
ExecStart=/usr/bin/node -u index.js
WorkingDirectory=/home/pi/googleHomeServer
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
