[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/srv/homeassistant/bin/hass

[Install]
WantedBy=multi-user.target
